<html>
<head>
	<title>考生信息录入</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/fillout.js"></script>
	<link href="/css/fillout.css" rel="stylesheet" type="text/css">
<style type="text/css"></style>
</head>

<body>
<div id="header">

	<div style="position:relative;">
		<img src="./img/school.png">
		<h1>考生信息录入</h1>
		<p>
			在这里输入你的个人信息
			<br>注意必填的项目</p>
	</div>
</div>

<div id='mainPanel'>
	<form name="info_form" action="submit" method="post">

		<div class="" id="input_exam_site_code">
			<label for="exam_site_code">考点(必填):</label>
			<select class="" name="exam_site_code">
				<option value="0">请选择</option>
				<% for (var i = 0; i < sites_info.length; ++i) { %>
					<option value="<%= sites_info[i].code %>"><%= sites_info[i].name%></option>
				<% }%>
			</select>
		</div>

		<div class="" id="input_subject_code">
			<label for="subject_code">考试科目(必选):</label>
			<label>
				<select class="" name="subject_code">
					<option value="0" site="0">请选择</option>
					<% for (var i = 0; i < sites_info.length; ++i) { %>
						<% var site = sites_info[i]; %>
						<% for (var j = 0; j < site['subjects'].length; ++j) { %>
							<% var subject = site['subjects'][j]; %>
							<option value="<%= subject.code %>" site="<%= site.code %>">
								<%= subject.name %>
								@<%= site.name %>
							</option>
						<% } %>
					<% } %>

				</select>
			</label>
			<span class="validated_result"></span>
		</div>

		<div id="input_name">
			<label for="name">姓名(必填):</label>
			<input name="name" type="text">
			<span class="validated_result"></span>
		</div>

		<div id="input_sex">
			<label for="sex">性别(必选):</label>
			<%tr.sex.each(function(val){%>
				<%= val.name %><input type="radio" name="sex" value="<%= val.code %>">
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<%});%>
		</div>

		<span class="validated_result"></span>

		<div id="input_id_type">
			<label for="id_type">证件类型(必选):</label>
			<select name="id_type">
				<% tr.id_type.each(function(val){ %>
					<option value="<%= val.code %>"><%= val.name %></option>
				<% });%>
			</select>
			<span class="validated_result"></span>
		</div>

		<div id="input_id_number">
			<label for="id_number">证件号码(必填);</label>
			<input type="text" name="id_number">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_birthday">
			<label for="birthday">出生日期(必填)</label>
			<input type="text" name="birthday">
			<span class="validated_result"></span>
			<div class="tips">
				请填写8位出生日期
				<br>如:19940123</div>
		</div>

		<div id="input_nationality">
			<label for="nationality">民族(必选):</label>
			<select name="nationality">
				<option value="0">请选择</option>
				<% tr.nationality.each(function(val){ %>
					<option value="<%= val.code %>"><%= val.name %></option>
				<% });%>
			</select>
			<span class="validated_result"></span>
		</div>

		<div id="input_career">
			<label for="career">职业(必选):</label>
			<select class="" name="career">
				<option value="00">请选择</option>
				<% tr.career.each(function(val){ %>
					<option value="<%= val.code %>"><%= val.name%></option>
				<% }); %>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_degree_of_education">
			<label for="degree_of_education">文化程度(必选):</label>
			<select class="" name="degree_of_education">
				<option value="0">请选择</option>
				<% tr.degree_of_education.each(function(val){ %>
					<option value="<%= val.code %>"><%= val.name %></option>
				<% }); %>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_training_type">
			<label for="training_type">培训类型(必选):</label>
			<select class="" name="training_type">
				<option value="0">请选择</option>
				<% tr.training_type.each(function(val){ %>
					<option value="<%= val.code %>"><%= val.name %></option>
				<% }); %>
			</select>
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_phone">
			<label for="phone">联系电话(必填):</label>
			<input type="text" name="phone" value="">
			<span class="validated_result"></span>
		</div>
		<div class="" id="input_post_code">
			<label for="post_code">邮编(非必填):</label>
			<input type="text" name="post_code" value="">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_address">
			<label for="address">地址(非必填):</label>
			<input type="text" name="address" value="">
			<span class="validated_result"></span>
		</div>

		<div class="" id="input_email">
			<label for="email">电子邮箱(非必填):</label>
			<input type="text" name="email" value="">
			<span class="validated_result"></span>
		</div>

		<div id="remark">
			<h4>备注</h4>
			<div class="" id="input_is_our_school">
				<label for="is_our_school">是否为本校学生？</label>
				<input type="checkbox" name="is_our_school" value="true">
			</div>

			<div class="" id="input_remark_for_not_our_school">
				<select class="" name="school">
					<option value="0">请选择学校</option>
					<% tr.school.each(function(val){ %>
						<option value="<%= val.code %>"><%= val.name %></option>
					<% }); %>
				</select>
				<span>学校(必填):</span>
				<input type="text" name="school_name" value="">
				<span class="validated_result"></span>
			</div>

			<div class="" id="input_remark_for_is_our_school">
				<select class="" name="department">
					<option value="0">请选择学院</option>
					<% tr.department.each(function(val){ %>
						<option value="<%= val.code %>"><%= val.name %></option>
					<% }); %>
				</select>
				<span>学号(必填):</span>
				<input type="text" name="student_number" value="">
				<span class="validated_result"></span>
			</div>
		</div>
		<div class="" id="input_captcha">

			<label for="captcha">验证码:</label>
			<input type="text" name="captcha" value="">
			<img id = "captcha" src="/captcha">
			<span>看不清？点击图片刷新</span>
			<div ><span class="validated_result"></span></div>
		</div>
		<div id="input_submit">
			<input type="submit" name="submit_form" value="提交"></div>
		<span id="error_message"><%= error_info %></span>
	</form>
</div>

</body>
</html>
