<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/welcome.js"></script>
	<link href="/css/welcome.css" rel="stylesheet" type="text/css">
	<style type="text/css"></style>
</head>

<body>
	<div id="nav">
		<img src="./img/school.png">
		<h1>全国计算机等级考试</h1>
	</div>
	<div id="header">
		<h2>网上报名系统</h2>
		<ul id="RegNum">
			<%for (var site_code in reg_info) { %>
			<%var site = reg_info[site_code];%>
			<li>
				<%= site.name %>：已报&nbsp<%= site.count %>&nbsp人，剩余&nbsp<%= site.total - site.count %>&nbsp人
				<%if(site.subjects){%>
				<br><span>限选科目:</span>
				<ul>
					<%for(var subject_code in site.subjects){%>
					<%var sub = site.subjects[subject_code];%>
					<li><%= sub.name %>：已报&nbsp<%= sub.count %>&nbsp人，剩余&nbsp<%= sub.total - sub.count %>&nbsp人</li>
					<%}%>
				</ul>
				<%}%>
			</li>
			<%}%>
		</ul>
		<button id="read_info">开始报名</button>
		
		<button id="get_info">报名结果查询</button>
		<form id="get_id_number" action="getinfo" method="GET">
			<h3>请输入你的证件号码</h3>
			<input id="id_number" name="id_number" type="text">
			<input type="submit" value="检索">
		</form> 
		<div id="question">
			<div>考试信息咨询QQ群: 437252399 / 437306317 / 437312687 / 437314632</div>
			<div>报名咨询电话: 86551362</div>
		</div>
	</div>
	<div id="info">
		<h1>考生须知</h1>
		<div id="content">
			<h2>一、关于考试</h2>
			<p>2015年9月19日上午9点开始分批上机考试。考试地点分为华北水利水电大学花园校区考点（郑州市北环路36号）和龙子湖校区考点(郑州市龙子湖高校园区1号)本校考生请选择自己所在校区考点进行报名参加考试，原则上请勿跨校区考点报名。
			</p>
			<p>网上报名成功后,需要考生现场校对信息和缴费,安排如下:<br>花园校区考点：6月22日～6月25日8:30-17:00，地点：综合实验楼401。<br>龙子湖校区考点：6月22日～6月26日8:30-20:00，地点：实验楼S2一楼101房间。	
			</p>
			<h2>二、获证条件：</h2>
			<h3>二级：</h3>
			<p>语言程序设计类：C语言程序设计、VB语言程序设计，相应科目考试合格；</p>
			<p>数据库程序设计类：VFP数据库程序设计、Access数据库程序设计，相应科目考试合格；</p>
			<h3>三级：</h3>
			<p>网络技术，获得二级语言程序设计类证书，三级科目35考试合格；</p>
			<p>数据库技术，获得二级数据库程序设计类证书，三级科目36考试合格；</p>
			<h3>四级：</h3>
			<p>网络工程师，获得三级科目35证书，四级科目41考试合格；</p>
			<p>数据库工程师，获得三级科目36证书，四级科目42考试合格。</p>
			<h2>三、注意事项</h2>
			<p>1、本校学生原则上勿跨校区报名，报考哪个校区考点即在哪个校区考试。本次考试考生只能报考一个校区一个语言种类。</p>
			<p>2、报考三、四级的考生请于现场报名时提供对应低级别语言考试合格证书原件及复印件，查验原件留复印件。</p>
			<p>3、由于我校报名人数多，工作量大，请大家按照时间进行报名，人数报满后自动停止报名工作，届时会有纸质通知张贴。</p>
			<p>4、报名成功后,需要考生现场校对信息和缴费,安排如下:<br>花园校区考点：6月22日～6月25日8:30-17:00，地点：综合实验楼401。<br>龙子湖校区考点：6月22日～6月26日8:30-20:00，地点：实验楼S2一楼101房间。
			</p>
			<p>报名咨询电话：<br>
			86551362<br>
			考试信息咨询QQ群:<br>
			437252399<br>
			437306317<br>
			437312687<br>
			437314632<br>
			</p>
			</div>
			<a href='/fillout'>
				<button onclick="window.location.href('/fillout')">我已阅读本须知，可以填报</button>
			</a>
		
	</div>
</body>
</html>